* {
  margin: 0;
  padding: 0;
}
.container-f {
  max-width: 900px;
  display: flex;
  background-color: #ecb4b4;
}
.item {
  background-color: #91e2f4;
  width: 200px;
  margin-right: 15px;
}
.item:last-child {
  margin-right: 0;
}
h1 {
  padding-left: 20px;
  padding-top: 20px;
}
.container {
  max-width: 900px;
  background-color: #ecb4b4;
}
.list {
  background-color: #a2e2f8;
  width: 200px;
}
.mb15 {
  margin-bottom: 15px;
}
.menu {
  display: inline-flex;
  background-color: #91defc;
  list-style: none;
  margin-right: 15px;
}
.menu li {
  padding: 10px;
  margin-right: 15px;
  background-color: #98c7f3;
}
.menu li:last-child {
  margin-right: 0;
}
img {
  padding: 10px 15px 25px;
}
